#!/bin/bash

## Branches to take into account
BRANCHES=('ovirt-engine-3.6' 'ovirt-engine-4.0')

STABLE_BRANCHES="ovirt-engine-3.6 ovirt-engine-3.6.6 ovirt-engine-3.6.7 ovirt-engine-4.0"

#CHECK_TARGET_RELEASE=("ovirt-engine-3.6|^3\.[6543210].*")

CHECK_TARGET_MILESTONE=('ovirt-3.6|^.*3\.6.*' 'ovirt-4.0|^.*4\.0.*')

PRODUCT="oVirt"
