#!/bin/bash

## Branches to take into account
BRANCHES=('ovirt-3.6' 'ovirt-4.0')

STABLE_BRANCHES=('ovirt-3.6' 'ovirt-4.0')

#We don't verify target release anymore, this has been replaced by target milestone
#CHECK_TARGET_RELEASE=("ovirt-3.5|^3\.[54321].*")

CHECK_TARGET_MILESTONE=('ovirt-3.6|^.*3\.6.*' 'ovirt-4.0|^.*4\.0.*')

PRODUCT="oVirt"
